@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="radio" id="photo" name="search" />Photo <input type="text" id="photoText" /><br />
<input type="radio" id="comment" name="search" />Comment<br />
<input type="radio" id="radius" name="search" />Radius
<input type="button" onclick="evaluate_search()" value="Search"/>

<input type="button" id="Button2" onclick="window.location.href='@Url.Action("ViewMap","home")'"
       value="View Map" />

<div id="map-canvas" class="map"></div>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>


<script type="text/javascript">
    //Determine what kind of search is requested
    function evaluate_search()
    {
        
        if (document.getElementById("photo").checked == true) {   
            searchByUserName();
        }

        if (document.getElementById("comment").checked == true) {
            searchComments();
        }

        
    }

    
    function addMarkers (locationList, pictures, map)
    {
        
        for (var l = 0; l < locationList.length; ++l) {
            var currentLocation = locationList[l];
            var latLng = new google.maps.LatLng(currentLocation['longitude'], currentLocation['latitude']);
            var searchMarker = new google.maps.Marker({
                position: latLng,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({});
            google.maps.event.addListener(searchMarker, 'click',

               //Get all of the pictures at the current location 
               //      Call to HomeController.getPictures via getPics route
                function (infowindow, searchMarker) {
                    
                    // String of HTML that is concatenated as pictureURL, caption, user, comment, 
                    //   are retrieved to be used in infoWindow
                    var contentString = "";

                    for (var j = 0; j < pictures.length; ++j)
                    {
                        picture = pictures[j];

                        if (picture['locationId'] == currentLocation['locationId']) {
                            contentString += '<img height="200px" width="400px"src="' + picture['url'] + '" alt="Bad Image">'
                               + '<div class="caption">' + picture['caption'] + '</div>';

                            //Get all comments for the current picture from HomeController.getComments via
                            //   getcomments route
                            var pictureId = picture['pictureId'];
                            var ajaxPictureData = { pictureId: pictureId };
                            $.ajax({
                                url: '@Url.RouteUrl("getcomments")',
                                data: ajaxPictureData,
                                dataType: 'json',
                                type: "POST",
                                async: false,
                                success: function (response) {
                                    comments = response;
                                }
                            });
                            contentString += '<table class="infoWindow_table">';
                            for (var c = 0; c < comments.length; ++c) {
                                comment = comments[c];

                                //Get the user that added the current comment from HomeController.getUser
                                //  via getuser route
                                var userId = comment['userId'];
                                var ajaxUserData = { userId: userId };
                                $.ajax({
                                    url: '@Url.RouteUrl("getuser")',
                                    data: ajaxUserData,
                                    dataType: 'json',
                                    type: "POST",
                                    async: false,
                                    success: function (response) {
                                        users = response;
                                    }
                                });

                                user = users[0];
                                
                                contentString += '<tr id="' + comment['commentId'] + '"><td class="infoWindow_user">' + user['firstName'] + " " + user['lastName'] + ": " + '</td>' +
                                                 '<td class="infoWindow_comment">' + comment['commentText'] + '</td>';
                                
                                if (comment['userId'] == 3) {
                                    contentString += '<td><button type="button" onclick="deleteComment(' + comment['commentId'] + ')">Remove</button></td>';
                                }

                                contentString += '</tr>'
                                window.alert(contentString);
                            }

                            contentString += '</table><input type="text" id="' + pictureId + '"><button type="button" onclick="addComment(' + 3 + ', ' + pictureId + ')">Post Comment!</button>';
                            var test;
                        }
                    }
                    infowindow.setContent(contentString);
                    return function () {
                        infowindow.open(map, searchMarker);
                    };
                }(infowindow, searchMarker) );
        }
    }

    //Add a comment from view page
    function addComment(userId, pictureId) {

        var commentText = document.getElementById(pictureId).value;

        var ajaxData = { userId: userId, pictureId: pictureId, commentText: commentText };
        $.ajax({
            url: '@Url.RouteUrl("addComment")',
            data: ajaxData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function () {

            }
        });
        window.location.reload()
    }

    //Delete a comment from view page
    function deleteComment(commentId) {

        var confirm = window.confirm("Please click okay to confirm the removal of your comment");

        if (confirm == true) {

            $('#' + commentId).hide();

            var ajaxData = { commentId: commentId };
            $.ajax({
                url: '@Url.RouteUrl("removeComment")',
                data: ajaxData,
                dataType: 'json',
                type: "POST",
                async: false,
                success: function () {

                }
            });

            //$('.' + commentId +'"').hide();

            //$('#' + commentId).html("")

          //  $('div[class=' + commentId + ']').hide();

        }


    }

    //Delete an image, it's comments, and the location if it is the only image from view page
    function deletePicture(pictureId, locationId) {

        var confirm = window.confirm("Please click okay to confirm the removal of your image and all of its comments");

        if (confirm == true) {


            var ajaxData = { pictureId: pictureId, locationId: locationId };
            $.ajax({
                url: '@Url.RouteUrl("removePicture")',
                data: ajaxData,
                dataType: 'json',
                type: "POST",
                async: false,
                success: function () {

                }
            });

            window.location.reload()

        }


    }

    function searchComments()
    {
        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(40.8204419, -96.7005872),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);

        var userName = document.getElementById("commentText").value;

        var ajaxData = { userName: userName };

        $.ajax({
            url: '@Url.RouteUrl("getUserId")',
            data: ajaxData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function (response) {
                users = response;
            }
        });

        user = users[0];
        var userId = user['userId'];

        //Get all photos of that user
        var commentData = { userId: userId };
        var comments = "";
        $.ajax({
            url: '@Url.RouteUrl("getCommentByUser")',
            data: commentData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function (response) {
                comments = response;
            }
        });

        var locationsList = []
        var locationIdList = []
        for (var i = 0; i < pictures.length; ++i) {

            var picture = pictures[i];
            var locationId = picture['locationId'];
            if (locationIdList.indexOf(locationId) == -1) {
                locationIdList.push(locationId);
                //Get Unique locations
                var locationData = { locationId: locationId };

                $.ajax({
                    url: '@Url.RouteUrl("getLocationsById")',
                    data: locationData,
                    dataType: 'json',
                    type: "POST",
                    async: false,
                    success: function (response) {
                        locations = response;
                    }
                });

                locationsList.push(locations[0]);
            }
        }

        addMarkers(locationsList, pictures, map)
    }

    function searchByUserName() {
        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng(40.8204419, -96.7005872),
            mapTypeId: google.maps.MapTypeId.SATELLITE
        }
        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);

        var userName = document.getElementById("photoText").value;

        var ajaxData = { userName: userName };

        $.ajax({
            url: '@Url.RouteUrl("getUserId")',
            data: ajaxData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function (response) {
                users = response;
            }
        });

        user = users[0];
        var userId = user['userId'];

        //Get all photos of that user
        var pictureData = { userId: userId };
        var pictures = "";
        $.ajax({
            url: '@Url.RouteUrl("getPhotoByUser")',
            data: pictureData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function (response) {
                pictures = response;
            }
        });

        var locationsList = []
        var locationIdList = []
        for (var i = 0; i < pictures.length; ++i) {

            var picture = pictures[i];
            var locationId = picture['locationId'];
            if (locationIdList.indexOf(locationId) == -1) {
                locationIdList.push(locationId);
                //Get Unique locations
                var locationData = { locationId: locationId };

                $.ajax({
                    url: '@Url.RouteUrl("getLocationsById")',
                    data: locationData,
                    dataType: 'json',
                    type: "POST",
                    async: false,
                    success: function (response) {
                        locations = response;
                    }
                });

                locationsList.push(locations[0]);
            }
        }

        addMarkers(locationsList, pictures, map)
    }
    
</script>