@{
    ViewBag.Title = "ViewMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMap</h2>
<div id="map-canvas" class="map"></div>
<input type="button" id="Button1" onclick="window.location.href='@Url.Action("Search","home")'"
        value="Search" />
<input type="button" id="Button2" onclick="window.location.href='@Url.Action("Upload","home")'"
        value="Upload" />


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>

    //Add a comment from view page
    function addComment(userId, pictureId) {

        var commentText = document.getElementById(pictureId).value;

        var ajaxData = { userId: userId, pictureId: pictureId, commentText: commentText };
        $.ajax({
            url: '@Url.RouteUrl("addComment")',
            data: ajaxData,
            dataType: 'json',
            type: "POST",
            async: false,
            success: function () {
                
            }
        });
        window.location.reload()
    }

    //Delete a comment from view page
    function deleteComment(commentId) {
        
        var confirm = window.confirm("Please click okay to confirm the removal of your comment");

        if (confirm == true) {


            var ajaxData = { commentId: commentId };
            $.ajax({
                url: '@Url.RouteUrl("removeComment")',
                data: ajaxData,
                dataType: 'json',
                type: "POST",
                async: false,
                success: function () {

                }
            });

            window.location.reload()
           
        } 


    }

    //Delete an image, it's comments, and the location if it is the only image from view page
    function deletePicture(pictureId, locationId) {

        var confirm = window.confirm("Please click okay to confirm the removal of your image and all of its comments");

        if (confirm == true) {

            
            var ajaxData = { pictureId: pictureId, locationId: locationId };
            $.ajax({
                url: '@Url.RouteUrl("removePicture")',
                data: ajaxData,
                dataType: 'json',
                type: "POST",
                async: false,
                success: function () {

                }
            });

            window.location.reload()

        }


    }


    // Call to HomeController.getLocations via getdata Route to get locations
    $(document).ready(function () {
        $.ajax({
            url: '@Url.RouteUrl("getdata")',
            dataType: 'json',
            async: false ,
            success: function (response) {
                campusPlaces = response;
            }
        });
    });
   
        //Create the map via google maps api zoomed into UNL City Campus
        function initialize() {
            var mapOptions = {
                zoom: 17,
                center: new google.maps.LatLng(40.8204419, -96.7005872),
                mapTypeId: google.maps.MapTypeId.SATELLITE
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'),
                                mapOptions);

            addMarkers(map, campusPlaces);


        }

        //Add all of the Markers
        function addMarkers(map, points) {

            for (var i = 0; i < points.length; i++) {

                var campusSpot = points[i];
                var location = new google.maps.LatLng(campusSpot['longitude'], campusSpot['latitude']);
                var locationId = campusSpot['id'].toString();
                var name = campusSpot[0];
                var image = "../../Content/Images/nMarker.png";

                var infowindow = new google.maps.InfoWindow({});

                var campusMarker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: image
                    });
                campusMarker.setTitle(locationId);
                
                google.maps.event.addListener(campusMarker, 'click',

               //Get all of the pictures at the current location 
               //      Call to HomeController.getPictures via getPics route
                function (infowindow, campusMarker) {
                    var ajaxData = { locationId: locationId };
                    $.ajax({
                        url: '@Url.RouteUrl("getPics")',
                        data: ajaxData,
                        dataType: 'json',
                        type: "POST",
                        async: false,
                        success: function (response) {
                            campusPictures = response;
                        }
                    });

                    // String of HTML that is concatenated as pictureURL, caption, user, comment, 
                    //   are retrieved to be used in infoWindow
                    var contentString = "";
                    
                    for(var j = 0; j<campusPictures.length; ++j)
                    {
                        campusPic = campusPictures[j];

                        if (campusPic['userId'] == 3) {
                            contentString += '<button type="button" onclick="deletePicture(' + campusPic['pictureId'] + ', ' + campusPic['locationId'] + ')">Remov Image</button>';
                        }
                        contentString += '<img height="200px" width="400px"src="' + campusPic['url'] + '" alt="Smiley face">'
                               + '<div class="caption">' + campusPic['caption'] + '</div>';
                       
                        //Get all comments for the current picture from HomeController.getComments via
                        //   getcomments route
                       var pictureId = campusPic['pictureId'];
                       var ajaxPictureData = { pictureId: pictureId };
                        $.ajax({
                            url: '@Url.RouteUrl("getcomments")',
                            data: ajaxPictureData,
                            dataType: 'json',
                            type: "POST",
                            async: false,
                            success: function (response) {
                                comments = response;
                            }
                        });
                        contentString += '<table class="infoWindow_table">';
                        for (var c = 0; c < comments.length; ++c) {
                            comment = comments[c];

                            //Get the user that added the current comment from HomeController.getUser
                            //  via getuser route
                            var userId = comment['userId'];
                            var ajaxUserData = { userId: userId };
                            $.ajax({
                                url: '@Url.RouteUrl("getuser")',
                                data: ajaxUserData,
                                dataType: 'json',
                                type: "POST",
                                async: false,
                                success: function (response) {
                                    users = response;
                                }
                            });
                           
                            user = users[0];
                            contentString += '<tr><td class="infoWindow_user">' + user['firstName'] + " " + user['lastName'] + ": " + '</td>' +
                                             '<td class="infoWindow_comment">' + '<div>' + comment['commentText'] + '</div> </td>';
                            if (comment['userId'] == 3)
                            {
                               contentString += '<td><button type="button" onclick="deleteComment(' + comment['commentId'] + ')">Remove</button></td>';
                            }
                            
                            contentString += '</tr>'
                                           
                        }
                        
                        contentString += '</table><input type="text" id="' + pictureId +  '"><button type="button" onclick="addComment(' + 3 + ', ' + pictureId + ')">Post Comment!</button>';
                        var test;
                    }
                    infowindow.setContent(contentString);
                    return function () {
                        infowindow.open(map, campusMarker);
                    };
                } (infowindow, campusMarker)
    );

            }

        }

        google.maps.event.addDomListener(window, 'load', initialize);

</script>

